* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ebf4f5;
  height: 100%;
  margin: 0 auto;
}

nav {
  background-color: #149692;
  width: 100%;
}

img {
  height: 5vh;
}

.content {
  padding: 30px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  width: 60vw;
  display: grid;
}

.row {
  height: 12vh;
}

.col {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 100ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: 700;
}

.col:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: #ebf4f5;
}

.searchBox {
  margin-bottom: 10px;
}

input {
  width: 60vw;
  height: 6vh;
  font-size: 3vh;
  font-weight: 700;
  text-align: end;
  padding-right: 10px;
}

.filter {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(351deg)
    brightness(103%) contrast(99%);
}
